<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{Component/loading/HeadPage :: head}"></head>
<body>
    <p>This is Login Candidate</p>
    <p th:if="${#strings.equals(param.error,'UserNameAndPasswordNotOk')}">Sai tên đăng nhập hoặc mật khẩu</p>
<form
method="post"
th:object="${userPassCan}"
th:action="@{/Candidate/checkUserPass}"
>
    <label>User name</label>
    <input type="text" required th:field="*{userName}">
    <br>
    <label>Password</label>
    <input type="password" required th:field="*{password}">
    <br>
    <input type="submit" value="Đăng nhập">
</form>
</body>
</html>